@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400&display=swap");

:root {
  --prime1-moss_green: #859b6f;
  --prime2-terra_pink: #ffb3b3;
  --prime3-shadow_blue: #7480a4;
  --bright1-blazing_yellow: #fee715;
  --bright2-bright_Red: #e10600;
  --bright3-vivid_blue: #2657ff;
  --bright4-gold: #ffd700;
  --dark1-blue_black_blue: #101820;
  --dark2-dark_jungle_green: #151f21;
  --sec1-forest_green: #002f06;
  --sec2-earth_red: #660000;
  --sec3-terracota_mud: #ac3931;
  --neut1-cultured: #f6f8f7;
  --neut2-white: #ffffff;
  --neut3-rocket_metallic: #7d777b;
  --neut4-raisin_black: #292327;
  --neut5-rich_black_FOGRA39: #0c0c0c;
  --auto-grid: auto;

  --feminine_concrete: #d2d1cd;
  --feminine_navy: #000042;
  --feminine_earth: #da746f;
  --feminine_earth1: #3f5253;
  --feminine_earth2: #94a1a0;
  --feminine_earth3: #f7f5f2;
  --feminine_earth4: #ead7cd;
  --feminine_topiary: #8e9655;
}

/*================================== Core Styles ===================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**This will give you the same result, and make it easier to change the box-sizing in plugins or other components that leverage other behavior. source: CSS TRICKS*/

.primary-container {
  margin: 0 auto -8vh;
}

header {
  width: 100%;
  background-color: var(--neut4-raisin_black);
  color: var(--sec3-terracota_mud);
  padding: 0.1rem; 
  text-align: center;
}

h2 {
  font: "Poppins", sans-serif;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
}

header p {
  text-align: end;
  padding-right: 1rem;
  margin: 0;
  font-weight: bold;
}

.bubble {   
  max-width: 960px;
  margin: 0;
  left: 0;
  right: 0;
}

section {
  background: linear-gradient(#ac3931 70%, #fff 30%);  
  font-family: "Bodoni Moda", serif;
  font-style: oblique;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-align: center;
  padding: 0.5rem 1.5rem 0 1.5rem; 
  margin-bottom: 0;
}

aside { 
  font-family: "Bodoni Moda", serif; 
  padding: 0.5rem 3rem;
}

aside dd {
  display: inline;
  margin: 0;
}
aside dd::after {
  display: block;
  content: '';
}

aside dt {
  display: inline-block;
  min-width: 7rem;
}

aside dt::after {
  content: " : ";
}

article {
  background-color: var(--feminine_earth);
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 960px;
  margin: auto;
  left: 0;
  right: 0;
}

h3 {
  background-color: var(--sec3-terracota_mud);
  text-align: center;
  padding: 0.5rem;
}

dl > dt {
  color: var(--sec3-terracota_mud);
  font-weight: bold;
  font-style: oblique;
}

dd {
  margin-bottom: 1rem;
}

.container {
  color: var(--neut4-raisin_black);  
  padding: 0.05rem 1rem;
  line-height: 1.4;
  overflow: none;
  overflow-y: scroll;
}

.header-img {
  width: 60vw;
  max-width: 730px;
  margin: 0;
}

.omunaa-img {
  width: 20vw;
  max-width: 230px;
  border-radius: 35%;
  shape-outside: url(/images/veroo3.jpeg);
  float: right;
  margin: 0;
}

.ovita-img {
  width: min-content;
  padding: 7px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.ozombara-img {
  width: 35vw;
  max-width: 230px;
  padding-right: 7px;
  float: left;
}

footer { 
  height: 8vh;
  position: relative;  
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--neut1-cultured);
  font-family: "Poiret One", cursive;
  font-weight: 300;  
}
#stamp {
  vertical-align: bottom;
  margin: 0;
}

/*Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--neut4-raisin_black) var(--sec3-terracota_mud);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--sec3-terracota_mud);
}

::-webkit-scrollbar-thumb {
  background: var(--neut4-raisin_black);
  border-radius: 10px;
}
